.root{
	-colour-text: #101010;
	-colour-accent1:#cccccc;
	-colour-accent2: #999999;
	-colour-dark: #4c4c4c;
	-colour-background: #FFFFFF;
	-colour-background-element: #dedede;
  -colour-border: #4c4c4c;
}
