/*
    Document   : theme.css
*/
@import url("colours.css");

/*
-colour-background)
-colour-text)
-colour-accent1)
-colour-accent2)
-colour-background-element)
-colour-dark)
*/

#bgPane {
	-fx-background-color:-colour-background;
}

#confirmButton {


}


.button1{
    -fx-text-fill: -colour-text;
    -fx-background-color: -colour-accent2;
		-fx-border-color: -colour-border;
		-fx-opacity:1;
}

.button2{
    -fx-text-fill: -colour-text;
    -fx-background-color: -colour-accent1;
		-fx-opacity:1;
		-fx-border-color: -colour-border;
}

.component1{
    -fx-text-fill: -colour-text;
		-fx-font-size: 32px;
		-fx-font: System;
    -fx-background-color: -colour-accent2;
		-fx-border-color: -colour-border;
		-fx-opacity:1;
}

.component2{
    -fx-text-fill: -colour-text;
    -fx-background-color: -colour-accent1;
		-fx-opacity:1;
		-fx-border-color: -colour-border;
}

.grid{


}

.label{
	-fx-text-fill: -colour-text;
	-fx-font-size: 32px;
}
